* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

a:-webkit-any-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;

}

/* Header */
.header {
    background-color: orange;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}

.container-header {
    width: 70%;
    margin: 0 5% 0 5%;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: xxx-large;
    text-align: right;
}


.footnote {
    background-color: orange;
    color: white;
    width: 100%;
    height: 2rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20%;
}

.divSpinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Modal */
.modal {
  position: fixed;
  width: 70%;
  height: auto;
  z-index: 1040;
  top: 15%;
  left: 15%;
}

.backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.7;
}


@media (max-width: 500px) {
    .header,
    .footnote {
        width: 100vw;
    }

    .container-header {
        width: 100%;
    }
}