/* CSS from roster */

/* custom colors */
:root {
  --KTorange: #eb854a;
  --KTblack: #3c3c3c;
}

div.battlescribe {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-width: 0px;

    width: 70%;
    
    font-family: sans-serif;
    font-size: large;
    color: white;
    text-align: left;
}

div.battlescribe h1,
div.battlescribe h2,
div.battlescribe h3,
div.battlescribe h4 {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}

div.battlescribe h1 {
    margin: 8px 0px 0px 0px;
    
    font-size: 16px;
}

div.battlescribe h2 {
    font-size: 15px;
}

div.battlescribe h3 {
    font-size: 14px;
}

div.battlescribe h4 {
    font-size: 13px;
}

div.battlescribe div.summary {
    margin: 16px 0px 0px 0px;
    padding: 0px;
    border-width: 2px;
}

div.battlescribe ul {
    margin: 0px 0px 0px 16px;
    padding: 0px;
    border-width: 0px;
    
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

div.battlescribe li {
    margin: 8px 8px 0px 0px;
    padding: 0px;
    border-width: 0px;
}

div.battlescribe li.force {
    margin: 24px 0px 0px 0px;
    padding: 0px;
    border-width: 0px;
}

div.battlescribe li.category {
    margin: 16px 0px 0px 0px;
    padding: 0px;
    border-width: 0px;
}

div.battlescribe div.rootselection {
    margin: 16px 0px 0px 0px;
    padding: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--KTorange);
    
    page-break-inside: avoid;

    color: white;
    background-color: var(--KTblack);
}

div.battlescribe p {
    margin: 4px 0px 0px 16px;
    padding: 0px;
    border-width: 0px;
    
    font-size: 12px;
}

div.battlescribe table {
    margin: 8px 0px 0px 16px;
    padding: 0px;
    border-collapse: collapse;
    
    font-size: 12px;
    color: white;
    
    page-break-inside: avoid;
}

div.battlescribe tr {
    border-width: 1px;
    border-style: solid;
    border-color: var(--KTorange);
}

div.battlescribe th {
    padding: 4px;
    margin: 0px;
    border-width: 0px;
    
    font-weight: bold;
    text-align: left;
}

div.battlescribe td {
    padding: 4px;
    margin: 0px;
    border-width: 0px;
    
    text-align: left;
}

div.battlescribe td.profile-name {
    font-weight: bold;
}

div.battlescribe td.statistic-name {
    font-weight: bold;
}

div.battlescribe table.statistics tr.subtotal {
    font-weight: bold;
}

div.battlescribe table.statistics tr.total {
    font-size: 13px;
    font-weight: bold;
}

div.battlescribe table.statistics th {
    border-width: 1px;
    border-style: solid;
    border-color: #BBBBBB;
    
    font-size: 13px;
    text-align: right;
}

div.battlescribe table.statistics th.center {
    text-align: center;
}

div.battlescribe table.statistics td {
    border-width: 1px;
    border-style: solid;
    border-color: #BBBBBB;
    text-align: right;
}

div.battlescribe span.bold {
    font-weight: bold;
}

div.battlescribe span.italic {
    font-style: italic;
}

div.battlescribe span.caps {
    font-variant: small-caps;
}

/* My edit */

.rosters_list {
    font-size: xx-large;
    border-radius: 0;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--KTorange);
    color: var(--KTblack);
}

.list_header {
    font-weight: bold;
}

.unitList {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.list_row {
    display: flex;
    justify-content: space-between;
}

.list_row.return {
    justify-content: center;
    margin-bottom: 1rem;
}

.unit {
    border-radius: .5rem;
    padding: 0 .5rem 0 .5rem;
}

.down {
    color: red;
}

.damage:hover {
    cursor: pointer;
    color: red;
}

.react-icons {
    font-size: x-large;
    margin-bottom: -0.5rem;
}

@media (max-width: 500px) {
    div.battlescribe {
        width: 100vw;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}